<h3>Registro</h3>
<h3>Informacion Basica</h3>

<form (submit)="create()" class="col-lg-10">
    <p>
        <label>Nombre</label>
        <input type="text" name="first_name" [(ngModel)]="newUser.first_name" class="form-control" required>
    </p>
    <p>
        <label>Apellidos</label>
        <input type="text" name="last_name" [(ngModel)]="newUser.last_name" class="form-control" required>

    </p>
    <p>
        <label>Email</label>
        <input type="text" name="email" [(ngModel)]="newUser.email" class="form-control" required>
    </p>
    <p>
        <label>Telefono</label>
        <input type="number" name="telefono" [(ngModel)]="newUser.telefono" class="form-control" required>
    </p>
    <p>
        <label>Dirección</label>
        <input type="text" name="direccion" [(ngModel)]="newUser.direccion" class="form-control" required>
    </p>
    <p>
        <label>Arte</label>
        <input type="text" name="arte" [(ngModel)]="newUser.arte" class="form-control" required>
    </p>
    <p>
        <label>Cine</label>
        <input type="text" name="cine" [(ngModel)]="newUser.cine" class="form-control" required>
    </p>
    <p>
        <label>musica</label>
        <input type="text" name="musica" [(ngModel)]="newUser.musica" class="form-control" required>
    </p>


    <button type="submit" class="btn btn-primary">Enviar</button>
</form>