<h3>Listado de Usuario</h3>

<div *ngFor="let user of users">
Nombre: {{user.first_name}} Apellido: {{user.last_name}} Email: {{user.email}}
Telefono: {{user.telefono}} Direccion:{{user.direccion}} Arte:
  {{user.arte}} Cine: {{user.cine}} Musica:{{user.musica}} 


<button (click)="destroy(user)" class="btn btn-success">Delete</button>
<button (click)= "user.editable = !user.editable" class="btn btn-primary">Update</button>

<app-user-edit
*ngIf="user.editable"
[user] = "user"
(updateUserEvent) = "update($event)"
></app-user-edit>
</div>