
    <div  class="col-lg-6">
        <app-user-new  (createNewUserEvent) = "create($event)"> </app-user-new>
    </div>
    <div  class="col-lg-6">
        <app-user-list [users]="users"
        (destroyUserEvent) = "destroy($event)"
        (updateUserEvent) = "update($event)"
        ></app-user-list>
    </div>
<div  class="col-lg-12">
    <h1>Visualizacion en forma de Json</h1>
    <pre>
      {{users | json}}
    </pre>
</div>
    
