<h3>Editar Usuario </h3>

<form (submit)="update()">

  <p>
    <label>Nombre</label>
    <input type="text" name="first_name" [(ngModel)]="editUser.first_name" class="form-control" required>
  </p>
  <p>
    <label>Apellidos</label>
    <input type="text" name="last_name" [(ngModel)]="editUser.last_name" class="form-control" required>

  </p>
  <p>
    <label>Email</label>
    <input type="text" name="email" [(ngModel)]="editUser.email" class="form-control" required>
  </p>
  <p>
    <label>Telefono</label>
    <input type="number" name="telefono" [(ngModel)]="editUser.telefono" class="form-control" required>
  </p>
  <p>
    <label>Dirección</label>
    <input type="text" name="direccion" [(ngModel)]="editUser.direccion" class="form-control" required>
  </p>
  <p>
    <label>Arte</label>
    <input type="text" name="arte" [(ngModel)]="editUser.arte" class="form-control" required>
  </p>
  <p>
    <label>Cine</label>
    <input type="text" name="cine" [(ngModel)]="editUser.cine" class="form-control" required>
  </p>
  <p>
    <label>musica</label>
    <input type="text" name="musica" [(ngModel)]="editUser.musica" class="form-control" required>
  </p>

  <button class="btn btn-primary" type="submit">Update</button>
</form>